<ngx-spinner
  bdColor="rgba(51,51,51,0.8)"
  size="medium"
  color="#fff"
  type="ball-scale-multiple"
>
  <p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>
<div class="toolbar" role="banner">
    <img
      width="90"
      alt="Angular Logo"
      src="../../assets/images/hms-logo.png"
    />
    <span>HMS LOGISTICS</span>
    
  </div>
  
  <div class="content" role="main">
  
    
      <!-- Highlight Card -->
    
   
  
   
  

  
  
  
    <h4>Create Routes</h4>
    <!-- Resources -->

    <form>
        <div class="form-group">
          <label for="exampleInputEmail1">From address</label>
          <input [(ngModel)]="fromAddress" name="fromAddress" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter from">
          <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">To address</label>
          <input [(ngModel)]="toAddress" name="toAddress" type="text" class="form-control" id="exampleInputPassword1" placeholder="Enter to">
        </div>
        
        <button type="submit" (click)="addRoute()" class="btn btn-primary">Create Route</button>
      </form>
      <br><br><br>

      
    </div>

<h1>All Routes List</h1>
    <table>
      <tr>
        <th>Sl no</th>
        <th>From - To</th>
        <th>Delete</th>
      </tr>
      <tr *ngFor="let routes of allRoutes; let i = index">
        <td>{{i+1}}</td>
        <td>{{routes?.address}}</td>
        <td (click)="deleteRoutes(routes._id)"><button class="btn btn-danger">Delete</button></td>
      </tr>
    
    </table>



    









