<body>
    <section class='login' id='login'>
        <div class='head'>
        <h1 class='company'>HMS Admin</h1>
        </div>
        <p class='msg'>Register</p>
        <div class='form'>
          <form>
        <input type="text" placeholder='Username' class='text' id='username' required><br>
        <input type="password" placeholder='••••••••••••••' class='password'><br>
        <a href="#" class='btn-login' id='do-login'>Register</a>
        <!-- <a routerLink="/register" class='forgot'>Forgot?</a> -->
          </form>
        </div>
      </section>
</body>